@import "variables";
* {
    font-family: Poppins, sans-serif;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: $pgBgColor;
        margin: 0;
    }
    .container {
        padding: $marginSize_20;
        margin-top: $navHeight;
    }

    a {
        text-decoration: none;
    }

    nav {
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.12);
        background: $white;
        height: $navHeight;
        display: flex;
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        align-items: center;
        padding-left: 20px;
    }
    .menu_bar {
        width: $marginSize_20;
        height: $marginSize_20;
    }
    .menu_items {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;
        margin-right: 20px;
    }
    .divider {
        height: 80%;
        border: 1px solid #dfe0eb;
        margin: 2px 10px;
    }
    .profile_name {
        margin-top: $liTopMargin;
        margin-right: 8px;
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
    }
    .notificationImage {
        width: $marginSize_20;
        margin-top: $liTopMargin;
        vertical-align: center;
    }
    .profileImage {
        margin-right: 15px;
        border-radius: 100px;
    }
    .menu_items li {
        display: inline-block;
        justify-content: center;
    }
    .grid_container {
        display: grid;
        grid-column-gap: 50px;
        justify-content: space-between;
        grid-template-columns: auto auto;
    }
    .grid_containerNoSpaceBetween {
        display: grid;
        padding: 13px;
        grid-template-columns: 65px auto auto;
    }

    .grid_containerNoSpaceBetween2 {
        grid-column-start: 2;
        grid-column-end: 4;
        padding-left: 10px;
    }

    .chartSize {
        font-size: 50px !important;
    }

    .grid_containerBox {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: $marginSize_20;
    }
    .grid_itemBox {
        height: 100px;
        padding: 20px 10px;
    }

    .box {
        background: #FFFFFF;
        box-shadow: 0 12px 26px rgba(16, 30, 115, 0.06);
        border-radius: 4px;
    }

    .boxPadding {
        padding: 20px 15px;
    }

    .grid_itemBoxTwo {
        height: 45px !important;
        padding: 10px 10px;
    }

    .grid_itemBoxTwo h6, .grid_containerNoSpaceBetween h6 {
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: $txtSilverColor;
        margin: 0 0 0 0;
    }

    .forH6 {
        font-family: Poppins, sans-serif;
        font-style: normal;
        letter-spacing: -0.02em;
        color: $txtSilverColor;
        margin: 2px 0 0 0;
    }
    .grid_itemBoxTwo h3, .grid_containerNoSpaceBetween h3 {
        font-family: PoppinsBold, sans-serif;
        letter-spacing: -0.02em;
        color: $headerTextColor;
        margin: 0 0 0 0;
    }

    .borderLeftGreen {
        border-left: 3px solid #09E39C;
        padding: 3px 5px;
        border-radius: 5px;
    }

    .borderLeftRed {
        border-left: 3px solid #C31162;
        padding: 3px 5px;
        border-radius: 5px;
    }


    .grid_itemBox h6 {
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: $txtSilverColor;
        margin: $marginSize_20 0 0 0;
    }
    .grid_itemBox h3 {
        font-family: PoppinsBold, sans-serif;
        letter-spacing: -0.02em;
        color: $headerTextColor;
        margin: $marginSize_10 0 0 0;
    }
    .btn {
        font-family: PoppinsBold, sans-serif;
        padding: 18px 0;
        width: 100%;
        color: white;
        height: 63px;
        background: $btnColor;
        border: 1px solid $btnColor;
    }
    .fas {
        color: $btnColor;
        font-size: 12px;
    }
    .iconContainer {
        width: 20px;
        height: 15px;
        background: $pgBgColor;
        padding: 5px 10px;
        border-radius: 15px;
    }
    .grid_item {
        margin-top: $marginSize_20;
    }
    .overviewTxt {
        padding-top: $liTopMargin;
        font-family: PoppinsBold, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: $headerTextColor;
    }

    .colorOnly {
        font-family: Poppins, sans-serif;
        font-style: normal;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: $headerTextColor;
    }

    .dropDownContainer {
        background: $white;
        padding: 10px 5px;
        width: 100px;
    }
    .marginTop {
        margin-top: $marginSize_20;
    }

    .marginTopOnly {
        margin: $marginSize_20 0 0 0;
    }
    .dropDownContainer select, .dropDownContainer select:focus-visible {
        width: 100%;
        background: white;
        border: 1px solid $white;
        outline-color: $white;
    }
    .feedbacks li {
        display: inline-block;
    }
    .feedbacks {
        padding-left: 0;
    }
    .smileFas {
        font-size: 10px;
        color: #FA582E;
    }
    .thumbUpFas {
        font-size: 10px;
        color: #FEC400;
    }
    .handshakeFas {
        font-size: 10px;
        color: #29CC97;
    }
    .iconContainerFeedbacks {;
        width: 15px;
        height: 10px;
        background: $pgBgColor;
        padding: 2px 6px;
        border-radius: 15px;
    }
    .feedbacksCounter {
        color: $feedbacksCounterColor;
        font-size: 12px;
        margin-right: 8px;
    }
    .viewAll {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 28px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #B02F55;
    }

    .removeBullet li {
        list-style: none;
    }

    .txtSilverColor {
        color: $txtSilverColor;
    }

    .marginZero {
        margin: 0;
    }
}

